<div style="border: 1px solid black; padding: 10px">
  <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/user">User</a>
  </nav>
  <router-outlet />
</div>
<div class="left">
  Hello Universe. My city: {{ city }} Any: {{ 1 * 3 + 2 }}
  @if (isServerRunning) {
    <div class="running">Yes, server is running 🔫</div>
  } @else {
    <div>No, server stopped ❌</div>
  }
  <div>
    <ul>
      @for (system of operatingSystems; track system.id) {
        <li class="item">
          <div>🔑 Id: {{ system.id }}</div>
          <hr />
          <div>📎 Name: {{ system.name }}</div>
        </li>
      }
    </ul>
  </div>
  <app-person [inputPersons]="users" />
  <img [ngSrc]="redHeart" alt="logo" width="264" height="191" priority />
</div>
<div class="right">
  <app-user />
  @defer (on timer(100)) {
    <ul>
      @for (user of users; track user.id) {
        <li class="item user">
          {{ user.name | uppercase }}
        </li>
      }
    </ul>
  } @placeholder {
    Пользователи
  } @loading (minimum 2s) {
    <div>🔭Загрузка пользователей...</div>
  }
  <app-message />
  <app-app-form />
  Cars: {{displayCar}}
</div>
